@using EmployeeAdjustmentConnectionSystem.COM.Util.Convert
@using EmployeeAdjustmentConnectionSystem.COM.Enum
@using EmployeeAdjustmentConnectionSystem.COM.Models
@model HaiguuDeclareRegisterViewModels
@{
    ViewBag.Title = "基礎控除申告書";
}

<!--ページ内リンク-->
<style>
    a.btn-link {
        color: #000;
        background: #DEF5E5;
    }

        a.btn-link:hover {
            color: #ccc;
            background: #DEF5E5;
        }
</style>

<div id="title" style="height:0px;"></div>
<div class="row" style="background: #DEF5E5;
    top:51px;
    position: fixed;
    width: 100%;
    height:20px;
    z-index:9999;
    margin-left: -50%;
    ">
</div>
<div class="row no_print" style="background: #DEF5E5;
    color:#000;
    top:51px;
    padding: 0px;
    position: fixed;
    width: 100%;
    height:20px;
    z-index:10000;
    font-size:14px;">
    【ページ内移動】 <a href="#" class="btn-link">Top</a>
    <a href="#" class="btn-link">本人情報</a>
        @*2025-99-99 iwai-tamura upd-str ------*@
        <span>　　<a href="#linkHaiguu1" class="btn-link">基礎控除申告書</a>　<a href="#linkHaiguu2" class="btn-link">配偶者控除等申告書</a>　<a href="#linkSpecificRelatives" class="btn-link">特定親族特別控除申告書</a>　<a href="#linkHaiguu3" class="btn-link">所得金額調整控除申告書</a></span>
        @*<span>　　<a href="#linkHaiguu1" class="btn-link">基礎控除申告書</a>　<a href="#linkHaiguu2" class="btn-link">配偶者控除等申告書</a>　<a href="#linkHaiguu3" class="btn-link">所得金額調整控除申告書</a></span>*@
        @*2025-99-99 iwai-tamura upd-end ------*@

</div>

@Styles.Render("~/Content/css/haiguu")

<!--タイトル-->
@using (Html.BeginForm("Index", "HaiguuDeclareRegister", null, FormMethod.Post, new { @class = "form-horizontal" })) {
    var strTitle = "";
    if (Model.Head.InputMode == ajustMode.SelfConfim) {
        strTitle = "  [本社受理済み]";
    }
    if (Model.Head.InputMode == ajustMode.adminConfim) {
        if (Model.Head.DecisionType == "9") {
            strTitle = "  [確定済]";
        } else if (Model.Head.ApprovalType == "0") {
            strTitle = "  [本人未提出]";
        }
    }
    <br><br>


    @*2023-11-20 iwai-tamura add-str ------*@
    <div class="row">
        <div class="col-xs-4">
            <h3 class="text-left">
                @Html.DisplayFor(m => m.Head.SheetYear) 年度　基礎控除申告書
            </h3>
        </div>
        <div class="col-xs-4">
            <h3 class="text-right">
                [@Model.Head.StatusName]
            </h3>
        </div>
    </div>
    @*<h3 class="text-left">
        @Html.DisplayFor(m => m.Head.SheetYear) 年度　基礎控除申告書 @strTitle
    </h3>*@
    @*2023-11-20 iwai-tamura add-end ------*@

    @Html.HiddenFor(m => m.Head.SheetYear)
    @Html.HiddenFor(m => m.Head.EmployeeNo)
    @Html.HiddenFor(m => m.Head.DepartmentNo)
    @Html.HiddenFor(m => m.Head.ApprovalType)
    @Html.HiddenFor(m => m.Head.DecisionType)
    @Html.HiddenFor(m => m.Head.InputMode)
    @Html.HiddenFor(m => m.Head.AuthButton)
    @Html.HiddenFor(m => m.Head.CancelButton)
    @Html.HiddenFor(m => m.Head.AdminMode)

    @*2023-11-20 iwai-tamura add-str ------*@
    //扶養控除データ
    @Html.HiddenFor(m => m.Head.SpouseDeduction_Huyou_Earnings)
    @Html.HiddenFor(m => m.Head.SpouseDeduction_Huyou_Income)
    @Html.HiddenFor(m => m.Head.SpouseDeduction_Huyou_OtherIncome)
    @*2023-11-20 iwai-tamura add-end ------*@

    @*2025-99-99 iwai-tamura upd-str ------*@
    //扶養控除データ(特定親族)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent01_RelationshipType)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent01_Earnings)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent01_Income)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent01_OtherIncome)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent02_RelationshipType)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent02_Earnings)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent02_Income)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent02_OtherIncome)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent03_RelationshipType)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent03_Earnings)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent03_Income)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent03_OtherIncome)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent04_RelationshipType)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent04_Earnings)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent04_Income)
    @Html.HiddenFor(m => m.Head.RefSpecificDependent04_OtherIncome)
    @*2025-99-99 iwai-tamura upd-end ------*@

    @*データ日時取得*@
    <!--ボタンエリア-->
    <div class="row">
        <!--ボタン-->
        <div class="col-xs-3">
            <button type="submit" name="Back" value="戻る" class="pull-left  btn-info" id="backbutton" style="margin:0 5px 10px 0;margin-left:5px;">戻る</button>
            @*登録・キャンセル*@
            @if (Model.Head.InputMode == ajustMode.SelfInput) {
                <button type="button" name="DmyKeep" value="途中保存" class="pull-left  btn-info" style="margin:0 5px 10px 0;" id="dmykeep">途中保存</button>
                <button type="button" name="DmySave" value="保存" class="pull-left  btn-info" style="margin:0 5px 10px 0;" id="dmysave">提出</button>
            }
            @if (Model.Head.InputMode == ajustMode.adminInput) {
                //2023-12-15 iwai-tamura add str -----
                if (Model.Head.DecisionType == "7" || Model.Head.DecisionType == "8") {
                    //システム連携後は修正のみ
                    <button type="button" name="DmySave" value="保存" class="pull-left  btn-info" style="margin:0 5px 10px 0;" id="dmysave">修正</button>
                } else {
                    <button type="button" name="DmyKeep" value="途中保存" class="pull-left  btn-info" style="margin:0 5px 10px 0;" id="dmykeep">途中保存</button>
                    <button type="button" name="DmySave" value="保存" class="pull-left  btn-info" style="margin:0 5px 10px 0;" id="dmysave">確定</button>
                }    
                @*<button type="button" name="DmyKeep" value="途中保存" class="pull-left  btn-info" style="margin:0 5px 10px 0;" id="dmykeep">途中保存</button>
                <button type="button" name="DmySave" value="保存" class="pull-left  btn-info" style="margin:0 5px 10px 0;" id="dmysave">確定</button>*@
	            //2023-12-15 iwai-tamura add end -----
            }
            @if (Model.Head.InputMode == ajustMode.SelfRegist) {
                <button type="button" name="DmySignCancel" value="保存取消" class="pull-left  btn-info" style="margin:0 5px 10px 0;" id="dmySignCancel">提出取消</button>
            }
            @if (Model.Head.InputMode == ajustMode.adminRegist) {
                <button type="button" name="DmySignCancel" value="保存取消" class="pull-left  btn-info" style="margin:0 5px 10px 0;" id="dmySignCancel">確定取消</button>
            }
        </div>
    </div>

    <!--定義-->
    //共通定数
    int? calcSheetYear = Model.Head.SheetYear;
    
    //共通入力モード
    var TextName = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "50" }, { "style", "width:100px;" } };
    var TextKana = new Dictionary<string, object>() { { "class", "form-control select-other checkKana" }, { "maxlength", "50" }, { "style", "width:100px;" } };
    var TextWord1 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "5" } };
    var TextWord9 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "50" }, { "style", "width:90%;" } };
    var TextWordMax = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "50" }, { "style", "width:100%;" } };
    var TextMoney1 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "checkMoney(this,99999999)" } };
    var TextNumber1 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "1" }, { "style", "width:30px;" }, { "type", "text" }, { "oninput", "value = value.replace(/[^0-9]+/i,'');" } };
    var TextPost1 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "3" }, { "style", "width:35px;" }, { "type", "text" }, { "oninput", "value = value.replace(/[^0-9]+/i,'');" } };
    var TextPost2 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "4" }, { "style", "width:50px;" }, { "type", "text" }, { "oninput", "value = value.replace(/[^0-9]+/i,'');" } };
    var ymdRead1 = new Dictionary<string, object>() { { "class", "form-control ymd-control fm-ctr-rdonly" }, { "maxlength", "10" }, { "style", "width:90px;" }, { "readonly", "readonly" } };
    var ymdBtn1 = "hidden";
    ymdBtn1 = "";
    var CalcMoney = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "10" }, { "style", "width:90px;" }, { "type", "number" }, { "readonly", "readonly" } };
    var CalcWord = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "10" }, { "style", "width:40px;" }, { "readonly", "readonly" } };

    
    //続柄リスト
    var familyItems = new SelectListItem[] {
                            new SelectListItem() { Value="10", Text="10:本人" },
                            new SelectListItem() { Value="11", Text="11:夫" },
                            new SelectListItem() { Value="12", Text="12:妻" },
                            new SelectListItem() { Value="21", Text="21:長男" },
                            new SelectListItem() { Value="22", Text="22:二男" },
                            new SelectListItem() { Value="23", Text="23:三男" },
                            new SelectListItem() { Value="24", Text="24:四男" },
                            new SelectListItem() { Value="25", Text="25:五男" },
                            new SelectListItem() { Value="26", Text="26:六男" },
                            new SelectListItem() { Value="27", Text="27:七男" },
                            new SelectListItem() { Value="28", Text="28:八男" },
                            new SelectListItem() { Value="29", Text="29:九男" },
                            new SelectListItem() { Value="31", Text="31:長女" },
                            new SelectListItem() { Value="32", Text="32:二女" },
                            new SelectListItem() { Value="33", Text="33:三女" },
                            new SelectListItem() { Value="34", Text="34:四女" },
                            new SelectListItem() { Value="35", Text="35:五女" },
                            new SelectListItem() { Value="36", Text="36:六女" },
                            new SelectListItem() { Value="37", Text="37:七女" },
                            new SelectListItem() { Value="38", Text="38:八女" },
                            new SelectListItem() { Value="39", Text="39:九女" },
                            new SelectListItem() { Value="41", Text="41:父" },
                            new SelectListItem() { Value="42", Text="42:母" },
                            new SelectListItem() { Value="43", Text="43:義父" },
                            new SelectListItem() { Value="44", Text="44:義母" },
                            new SelectListItem() { Value="45", Text="45:祖父" },
                            new SelectListItem() { Value="46", Text="46:祖母" },
                            new SelectListItem() { Value="47", Text="47:義祖父" },
                            new SelectListItem() { Value="48", Text="48:義祖母" },
                            new SelectListItem() { Value="60", Text="60:孫" },
                            new SelectListItem() { Value="61", Text="61:孫" },
                            new SelectListItem() { Value="62", Text="62:孫" },
                            new SelectListItem() { Value="63", Text="63:孫" },
                            new SelectListItem() { Value="71", Text="71:兄" },
                            new SelectListItem() { Value="72", Text="72:姉" },
                            new SelectListItem() { Value="73", Text="73:弟" },
                            new SelectListItem() { Value="74", Text="74:妹" },
                            new SelectListItem() { Value="75", Text="75:義兄" },
                            new SelectListItem() { Value="76", Text="76:義姉" },
                            new SelectListItem() { Value="77", Text="77:義弟" },
                            new SelectListItem() { Value="78", Text="78:義妹" },
                            new SelectListItem() { Value="81", Text="81:叔父" },
                            new SelectListItem() { Value="82", Text="82:叔母" },
                            new SelectListItem() { Value="83", Text="83:甥" },
                            new SelectListItem() { Value="84", Text="84:姪" },
                            new SelectListItem() { Value="90", Text="90:*" },
                            new SelectListItem() { Value="91", Text="91:*" },
                            new SelectListItem() { Value="92", Text="92:*" },
                            new SelectListItem() { Value="93", Text="93:*" }
            };

    //2025-99-99 iwai-tamura upd-str ------
    //続柄リスト
    var familySpecificRelativesItems = new SelectListItem[] {
                            new SelectListItem() { Value="21", Text="21:長男" },
                            new SelectListItem() { Value="22", Text="22:二男" },
                            new SelectListItem() { Value="23", Text="23:三男" },
                            new SelectListItem() { Value="24", Text="24:四男" },
                            new SelectListItem() { Value="25", Text="25:五男" },
                            new SelectListItem() { Value="26", Text="26:六男" },
                            new SelectListItem() { Value="27", Text="27:七男" },
                            new SelectListItem() { Value="28", Text="28:八男" },
                            new SelectListItem() { Value="29", Text="29:九男" },
                            new SelectListItem() { Value="31", Text="31:長女" },
                            new SelectListItem() { Value="32", Text="32:二女" },
                            new SelectListItem() { Value="33", Text="33:三女" },
                            new SelectListItem() { Value="34", Text="34:四女" },
                            new SelectListItem() { Value="35", Text="35:五女" },
                            new SelectListItem() { Value="36", Text="36:六女" },
                            new SelectListItem() { Value="37", Text="37:七女" },
                            new SelectListItem() { Value="38", Text="38:八女" },
                            new SelectListItem() { Value="39", Text="39:九女" },
                            new SelectListItem() { Value="60", Text="60:孫" },
                            new SelectListItem() { Value="61", Text="61:孫" },
                            new SelectListItem() { Value="62", Text="62:孫" },
                            new SelectListItem() { Value="63", Text="63:孫" },
                            new SelectListItem() { Value="71", Text="71:兄" },
                            new SelectListItem() { Value="72", Text="72:姉" },
                            new SelectListItem() { Value="73", Text="73:弟" },
                            new SelectListItem() { Value="74", Text="74:妹" },
                            new SelectListItem() { Value="75", Text="75:義兄" },
                            new SelectListItem() { Value="76", Text="76:義姉" },
                            new SelectListItem() { Value="77", Text="77:義弟" },
                            new SelectListItem() { Value="78", Text="78:義妹" },
                            new SelectListItem() { Value="83", Text="83:甥" },
                            new SelectListItem() { Value="84", Text="84:姪" }
            };
    //2025-99-99 iwai-tamura upd-end ------

    //年月日
    var yearItems = new SelectListItem[] {
                            new SelectListItem() { Value="1900", Text="1900" },new SelectListItem() { Value="1901", Text="1901" },new SelectListItem() { Value="1902", Text="1902" },new SelectListItem() { Value="1903", Text="1903" },new SelectListItem() { Value="1904", Text="1904" },
                            new SelectListItem() { Value="1905", Text="1905" },new SelectListItem() { Value="1906", Text="1906" },new SelectListItem() { Value="1907", Text="1907" },new SelectListItem() { Value="1908", Text="1908" },new SelectListItem() { Value="1909", Text="1909" },
                            new SelectListItem() { Value="1910", Text="1910" },new SelectListItem() { Value="1911", Text="1911" },new SelectListItem() { Value="1912", Text="1912" },new SelectListItem() { Value="1913", Text="1913" },new SelectListItem() { Value="1914", Text="1914" },
                            new SelectListItem() { Value="1915", Text="1915" },new SelectListItem() { Value="1916", Text="1916" },new SelectListItem() { Value="1917", Text="1917" },new SelectListItem() { Value="1918", Text="1918" },new SelectListItem() { Value="1919", Text="1919" },
                            new SelectListItem() { Value="1920", Text="1920" },new SelectListItem() { Value="1921", Text="1921" },new SelectListItem() { Value="1922", Text="1922" },new SelectListItem() { Value="1923", Text="1923" },new SelectListItem() { Value="1924", Text="1924" },
                            new SelectListItem() { Value="1925", Text="1925" },new SelectListItem() { Value="1926", Text="1926" },new SelectListItem() { Value="1927", Text="1927" },new SelectListItem() { Value="1928", Text="1928" },new SelectListItem() { Value="1929", Text="1929" },
                            new SelectListItem() { Value="1930", Text="1930" },new SelectListItem() { Value="1931", Text="1931" },new SelectListItem() { Value="1932", Text="1932" },new SelectListItem() { Value="1933", Text="1933" },new SelectListItem() { Value="1934", Text="1934" },
                            new SelectListItem() { Value="1935", Text="1935" },new SelectListItem() { Value="1936", Text="1936" },new SelectListItem() { Value="1937", Text="1937" },new SelectListItem() { Value="1938", Text="1938" },new SelectListItem() { Value="1939", Text="1939" },
                            new SelectListItem() { Value="1940", Text="1940" },new SelectListItem() { Value="1941", Text="1941" },new SelectListItem() { Value="1942", Text="1942" },new SelectListItem() { Value="1943", Text="1943" },new SelectListItem() { Value="1944", Text="1944" },
                            new SelectListItem() { Value="1945", Text="1945" },new SelectListItem() { Value="1946", Text="1946" },new SelectListItem() { Value="1947", Text="1947" },new SelectListItem() { Value="1948", Text="1948" },new SelectListItem() { Value="1949", Text="1949" },
                            new SelectListItem() { Value="1950", Text="1950" },new SelectListItem() { Value="1951", Text="1951" },new SelectListItem() { Value="1952", Text="1952" },new SelectListItem() { Value="1953", Text="1953" },new SelectListItem() { Value="1954", Text="1954" },
                            new SelectListItem() { Value="1955", Text="1955" },new SelectListItem() { Value="1956", Text="1956" },new SelectListItem() { Value="1957", Text="1957" },new SelectListItem() { Value="1958", Text="1958" },new SelectListItem() { Value="1959", Text="1959" },
                            new SelectListItem() { Value="1960", Text="1960" },new SelectListItem() { Value="1961", Text="1961" },new SelectListItem() { Value="1962", Text="1962" },new SelectListItem() { Value="1963", Text="1963" },new SelectListItem() { Value="1964", Text="1964" },
                            new SelectListItem() { Value="1965", Text="1965" },new SelectListItem() { Value="1966", Text="1966" },new SelectListItem() { Value="1967", Text="1967" },new SelectListItem() { Value="1968", Text="1968" },new SelectListItem() { Value="1969", Text="1969" },
                            new SelectListItem() { Value="1970", Text="1970" },new SelectListItem() { Value="1971", Text="1971" },new SelectListItem() { Value="1972", Text="1972" },new SelectListItem() { Value="1973", Text="1973" },new SelectListItem() { Value="1974", Text="1974" },
                            new SelectListItem() { Value="1975", Text="1975" },new SelectListItem() { Value="1976", Text="1976" },new SelectListItem() { Value="1977", Text="1977" },new SelectListItem() { Value="1978", Text="1978" },new SelectListItem() { Value="1979", Text="1979" },
                            new SelectListItem() { Value="1980", Text="1980" },new SelectListItem() { Value="1981", Text="1981" },new SelectListItem() { Value="1982", Text="1982" },new SelectListItem() { Value="1983", Text="1983" },new SelectListItem() { Value="1984", Text="1984" },
                            new SelectListItem() { Value="1985", Text="1985" },new SelectListItem() { Value="1986", Text="1986" },new SelectListItem() { Value="1987", Text="1987" },new SelectListItem() { Value="1988", Text="1988" },new SelectListItem() { Value="1989", Text="1989" },
                            new SelectListItem() { Value="1990", Text="1990" },new SelectListItem() { Value="1991", Text="1991" },new SelectListItem() { Value="1992", Text="1992" },new SelectListItem() { Value="1993", Text="1993" },new SelectListItem() { Value="1994", Text="1994" },
                            new SelectListItem() { Value="1995", Text="1995" },new SelectListItem() { Value="1996", Text="1996" },new SelectListItem() { Value="1997", Text="1997" },new SelectListItem() { Value="1998", Text="1998" },new SelectListItem() { Value="1999", Text="1999" },
                            new SelectListItem() { Value="2000", Text="2000" },new SelectListItem() { Value="2001", Text="2001" },new SelectListItem() { Value="2002", Text="2002" },new SelectListItem() { Value="2003", Text="2003" },new SelectListItem() { Value="2004", Text="2004" },
                            new SelectListItem() { Value="2005", Text="2005" },new SelectListItem() { Value="2006", Text="2006" },new SelectListItem() { Value="2007", Text="2007" },new SelectListItem() { Value="2008", Text="2008" },new SelectListItem() { Value="2009", Text="2009" },
                            new SelectListItem() { Value="2010", Text="2010" },new SelectListItem() { Value="2011", Text="2011" },new SelectListItem() { Value="2012", Text="2012" },new SelectListItem() { Value="2013", Text="2013" },new SelectListItem() { Value="2014", Text="2014" },
                            new SelectListItem() { Value="2015", Text="2015" },new SelectListItem() { Value="2016", Text="2016" },new SelectListItem() { Value="2017", Text="2017" },new SelectListItem() { Value="2018", Text="2018" },new SelectListItem() { Value="2019", Text="2019" },
                            new SelectListItem() { Value="2020", Text="2020" },new SelectListItem() { Value="2021", Text="2021" },new SelectListItem() { Value="2022", Text="2022" },new SelectListItem() { Value="2023", Text="2023" },new SelectListItem() { Value="2024", Text="2024" },
                            new SelectListItem() { Value="2025", Text="2025" },new SelectListItem() { Value="2026", Text="2026" },new SelectListItem() { Value="2027", Text="2027" },new SelectListItem() { Value="2028", Text="2028" },new SelectListItem() { Value="2029", Text="2029" },
                            new SelectListItem() { Value="2030", Text="2030" },new SelectListItem() { Value="2031", Text="2031" },new SelectListItem() { Value="2032", Text="2032" },new SelectListItem() { Value="2033", Text="2033" },new SelectListItem() { Value="2034", Text="2034" },
                            new SelectListItem() { Value="2035", Text="2035" },new SelectListItem() { Value="2036", Text="2036" },new SelectListItem() { Value="2037", Text="2037" },new SelectListItem() { Value="2038", Text="2038" },new SelectListItem() { Value="2039", Text="2039" },
                            new SelectListItem() { Value="2040", Text="2040" },new SelectListItem() { Value="2041", Text="2041" },new SelectListItem() { Value="2042", Text="2042" },new SelectListItem() { Value="2043", Text="2043" },new SelectListItem() { Value="2044", Text="2044" },
                            new SelectListItem() { Value="2045", Text="2045" },new SelectListItem() { Value="2046", Text="2046" },new SelectListItem() { Value="2047", Text="2047" },new SelectListItem() { Value="2048", Text="2048" },new SelectListItem() { Value="2049", Text="2049" },
                            new SelectListItem() { Value="2050", Text="2050" },new SelectListItem() { Value="2051", Text="2051" },new SelectListItem() { Value="2052", Text="2052" },new SelectListItem() { Value="2053", Text="2053" },new SelectListItem() { Value="2054", Text="2054" },
                            new SelectListItem() { Value="2055", Text="2055" },new SelectListItem() { Value="2056", Text="2056" },new SelectListItem() { Value="2057", Text="2057" },new SelectListItem() { Value="2058", Text="2058" },new SelectListItem() { Value="2059", Text="2059" },
                            new SelectListItem() { Value="2060", Text="2060" },new SelectListItem() { Value="2061", Text="2061" },new SelectListItem() { Value="2062", Text="2062" },new SelectListItem() { Value="2063", Text="2063" },new SelectListItem() { Value="2064", Text="2064" },
                            new SelectListItem() { Value="2065", Text="2065" },new SelectListItem() { Value="2066", Text="2066" },new SelectListItem() { Value="2067", Text="2067" },new SelectListItem() { Value="2068", Text="2068" },new SelectListItem() { Value="2069", Text="2069" },
                            new SelectListItem() { Value="2070", Text="2070" },new SelectListItem() { Value="2071", Text="2071" },new SelectListItem() { Value="2072", Text="2072" },new SelectListItem() { Value="2073", Text="2073" },new SelectListItem() { Value="2074", Text="2074" },
                            new SelectListItem() { Value="2075", Text="2075" },new SelectListItem() { Value="2076", Text="2076" },new SelectListItem() { Value="2077", Text="2077" },new SelectListItem() { Value="2078", Text="2078" },new SelectListItem() { Value="2079", Text="2079" },
                            new SelectListItem() { Value="2080", Text="2080" },new SelectListItem() { Value="2081", Text="2081" },new SelectListItem() { Value="2082", Text="2082" },new SelectListItem() { Value="2083", Text="2083" },new SelectListItem() { Value="2084", Text="2084" },
                            new SelectListItem() { Value="2085", Text="2085" },new SelectListItem() { Value="2086", Text="2086" },new SelectListItem() { Value="2087", Text="2087" },new SelectListItem() { Value="2088", Text="2088" },new SelectListItem() { Value="2089", Text="2089" },
                            new SelectListItem() { Value="2090", Text="2090" },new SelectListItem() { Value="2091", Text="2091" },new SelectListItem() { Value="2092", Text="2092" },new SelectListItem() { Value="2093", Text="2093" },new SelectListItem() { Value="2094", Text="2094" },
                            new SelectListItem() { Value="2095", Text="2095" },new SelectListItem() { Value="2096", Text="2096" },new SelectListItem() { Value="2097", Text="2097" },new SelectListItem() { Value="2098", Text="2098" },new SelectListItem() { Value="2099", Text="2099" }

    };
    var monthItems = new SelectListItem[] {
                            new SelectListItem() { Value="1", Text="1" },new SelectListItem() { Value="2", Text="2" },new SelectListItem() { Value="3", Text="3" },new SelectListItem() { Value="4", Text="4" },new SelectListItem() { Value="5", Text="5" },
                            new SelectListItem() { Value="6", Text="6" },new SelectListItem() { Value="7", Text="7" },new SelectListItem() { Value="8", Text="8" },new SelectListItem() { Value="9", Text="9" },new SelectListItem() { Value="10", Text="10" },
                            new SelectListItem() { Value="11", Text="11" },new SelectListItem() { Value="12", Text="12" }
    };

    var dayItems = new SelectListItem[] {
                            new SelectListItem() { Value="1", Text="1" },new SelectListItem() { Value="2", Text="2" },new SelectListItem() { Value="3", Text="3" },new SelectListItem() { Value="4", Text="4" },new SelectListItem() { Value="5", Text="5" },
                            new SelectListItem() { Value="6", Text="6" },new SelectListItem() { Value="7", Text="7" },new SelectListItem() { Value="8", Text="8" },new SelectListItem() { Value="9", Text="9" },new SelectListItem() { Value="10", Text="10" },
                            new SelectListItem() { Value="11", Text="11" },new SelectListItem() { Value="12", Text="12" },new SelectListItem() { Value="13", Text="13" },new SelectListItem() { Value="14", Text="14" },new SelectListItem() { Value="15", Text="15" },
                            new SelectListItem() { Value="16", Text="16" },new SelectListItem() { Value="17", Text="17" },new SelectListItem() { Value="18", Text="18" },new SelectListItem() { Value="19", Text="19" },new SelectListItem() { Value="20", Text="20" },
                            new SelectListItem() { Value="21", Text="21" },new SelectListItem() { Value="22", Text="22" },new SelectListItem() { Value="23", Text="23" },new SelectListItem() { Value="24", Text="24" },new SelectListItem() { Value="25", Text="25" },
                            new SelectListItem() { Value="26", Text="26" },new SelectListItem() { Value="27", Text="27" },new SelectListItem() { Value="28", Text="28" },new SelectListItem() { Value="29", Text="29" },new SelectListItem() { Value="30", Text="30" },
                            new SelectListItem() { Value="31", Text="31" },
    };
    
    //寡婦、ひとり親_事由リスト
    var widowReasonItems = new SelectListItem[] {
            new SelectListItem() { Value="1", Text="離婚" },
            new SelectListItem() { Value="2", Text="死別" },
            new SelectListItem() { Value="3", Text="生死不明" }
    };

    
    @helper setFamilyDdl1(bool isRead, int cnt, string name, string value, SelectListItem[] selItems) {
        <div class="form-inline">
            @{
                var id = string.Format("Body.{0}", name);
                if (isRead) {
                    @Html.TextBox(id, value, new { @class = "form-control", @style = "width:50px;height:16px;", @readonly = "readonly" })<label class="w30" style="font-weight:normal;">　名</label>
                } else {
                    @Html.DropDownList(id, new SelectList((IEnumerable<SelectListItem>)selItems, "Value", "Text", value), "", new { style = "width: 50px; vertical-align:top;" })<label class="w30" style="font-weight:normal;">　名</label>
                }
            }
        </div>
    }
    @helper setFamilyDdl2(bool isRead, int cnt, string name, string value, SelectListItem[] selItems) {
        <div class="h24 form-inline">
            @{
                var id = string.Format("Head.{0}", name);
                if (isRead) {
                    <label class="w10" style="font-weight:normal;">@cnt</label> @Html.TextBox(id, value, new { @class = "form-control", @style = "width:90px;height:16px;", @size = "2", @rows = "1", @readonly = "readonly" })
                } else {
                    <label class="w10" style="font-weight:normal;">@cnt</label> @Html.DropDownList(id, new SelectList((IEnumerable<SelectListItem>)selItems, "Value", "Text", value), "", new { @class = "familyItems-select" })
                }
            }
        </div>
    }
    ///CheckBox出力ヘルパー
    @helper setCheck(bool isRead, string name, string value) {
        if (isRead) {
            @Html.CheckBox(string.Format("Head.{0}", name), (value == "1" ? true : false), new { tabindex = 1, @class = "input-control", @style = "margin-top:0px;", @disabled = true })
        } else {
            @Html.CheckBox(string.Format("Head.{0}", name), (value == "1" ? true : false), new { tabindex = 1, @class = "input-control", @style = "margin-top:0px;" })
        }
    }
    @helper setCheck2(bool isRead, string name, string value, string addClass) {
        if (isRead) {
            @Html.CheckBox(string.Format("Head.{0}", name), (value == "1" ? true : false), new { tabindex = 1, @class = "input-control", @style = "margin-top:0px;", @disabled = true })
        } else {
            @Html.CheckBox(string.Format("Head.{0}", name), (value == "1" ? true : false), new { @class = "input-control " + addClass, tabindex = 1, @style = "margin-top:0px;" })
        }
    }

    ///ドロップダウンリスト設定
    //リスト
    @helper setDdl(bool isRead, string name, string value, SelectListItem[] selItems) {
        {
            var id = string.Format("Head.{0}", name);
            if (isRead) {
                @Html.TextBox(id, value, new { @class = "form-control", @style = "width:90px;height:16px;", @size = "2", @rows = "1", @readonly = "readonly" })
            } else {
                @Html.DropDownList(id, new SelectList((IEnumerable<SelectListItem>)selItems, "Value", "Text", value), "", new { @class = "form-control"})
            }
        }
    }

    //リスト(クラス制御付)
    @helper setDdl2(bool isRead, string name, string value, SelectListItem[] selItems, string addClass) {
        {
            var id = string.Format("Head.{0}", name);
            if (isRead) {
                @Html.TextBox(id, value, new { @class = "form-control", @style = "width:90px;height:16px;", @size = "2", @rows = "1", @readonly = "readonly" })
            } else {
                @Html.DropDownList(id, new SelectList((IEnumerable<SelectListItem>)selItems, "Value", "Text", value), "", new { @class = "form-control " + addClass })
            }
        }
    }
    
    //日付リスト
    @helper setYearDdl(bool isRead, string name, string dateType, string value, SelectListItem[] selItems) {
            {
                var id = string.Format("Head.{0}{1}", name,dateType);
                var checkEvent = string.Format("checkDate('#Head_{0}','0','')", name);
                if (isRead) {
                    @Html.TextBox(id, value, new { @class = "form-control", @style = "width:90px;height:16px;", @size = "2", @rows = "1", @readonly = "readonly" })
                } else {
                    @Html.DropDownList(id, new SelectList((IEnumerable<SelectListItem>)selItems, "Value", "Text", value), "", new { @class = "form-control", @onchange = checkEvent })
                }
            }
    }

    //日付リスト(クラス制御付)
    @helper setYearDdl2(bool isRead, string name, string proc, int? cDate, string dateType, string value, SelectListItem[] selItems, string addClass) {
        {
            var id = string.Format("Head.{0}{1}", name, dateType);
            var checkEvent = string.Format("checkDate('#Head_{0}','{1}','{2}')", name, proc, cDate);
            if (isRead) {
                @Html.TextBox(id, value, new { @class = "form-control", @style = "width:90px;height:16px;", @size = "2", @rows = "1", @readonly = "readonly" })
            } else {
                @Html.DropDownList(id, new SelectList((IEnumerable<SelectListItem>)selItems, "Value", "Text", value), "", new { @class = "form-control " + addClass, @onchange = checkEvent })
            }
        }
}

    <!-- 本人情報 -->
    @*定義*@
    var EmployeeNo = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "5" }, { "style", "width:60px;" }, { "readonly", "readonly" } };
    var DepartmentNo = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "5" }, { "style", "width:60px;" }, { "type", "text" }, { "oninput", "value = value.replace(/[^0-9]+/i,'');" } };
    var attrRadio1_1 = new Dictionary<string, object>() { { "name", "attrRadio1" }, { "id", "select_radio1" } };
    var attrRadio1_2 = new Dictionary<string, object>() { { "name", "attrRadio1" }, { "id", "select_radio2" } };

    @*2023-11-20 iwai-tamura add-str ------*@
    var BasicDeduction_TextMoney1 = new Dictionary<string, object>() { { "class", "form-control select-other" }, {"readonly", "readonly" } ,{"disabled", "true" },{ "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "checkMoney(this,99999999)" } };
    @*2024-11-19 iwai-tamura upd-str ------*@
    var BasicDeduction_TextMoney2 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "value = value.replace(/[^0-9]+/i,'');" } };
    //var BasicDeduction_TextMoney2 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" } };
    @*2024-11-19 iwai-tamura upd-end ------*@
    var SpouseDeduction_TextMoney1 = new Dictionary<string, object>() { { "class", "form-control select-other" }, {"readonly", "readonly" } ,{"disabled", "true" },{ "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "checkMoney(this,99999999)" } };
    @*2024-11-19 iwai-tamura upd-str ------*@
    var SpouseDeduction_TextMoney2 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "value = value.replace(/[^0-9]+/i,'');" } };
    //var SpouseDeduction_TextMoney2 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" } };
    @*2024-11-19 iwai-tamura upd-end ------*@
    @*2023-11-20 iwai-tamura add-end ------*@

    @*2025-99-99 iwai-tamura upd-str ------*@
    var SpecificRelativeSpecialDeduction01_TextMoney1 = new Dictionary<string, object>() { { "class", "form-control select-other" }, {"readonly", "readonly" } ,{"disabled", "true" },{ "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "checkMoney(this,99999999)" } };
    var SpecificRelativeSpecialDeduction01_TextMoney2 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "value = value.replace(/[^0-9]+/i,'');" } };
    var SpecificRelativeSpecialDeduction02_TextMoney1 = new Dictionary<string, object>() { { "class", "form-control select-other" }, {"readonly", "readonly" } ,{"disabled", "true" },{ "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "checkMoney(this,99999999)" } };
    var SpecificRelativeSpecialDeduction02_TextMoney2 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "value = value.replace(/[^0-9]+/i,'');" } };
    var SpecificRelativeSpecialDeduction03_TextMoney1 = new Dictionary<string, object>() { { "class", "form-control select-other" }, {"readonly", "readonly" } ,{"disabled", "true" },{ "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "checkMoney(this,99999999)" } };
    var SpecificRelativeSpecialDeduction03_TextMoney2 = new Dictionary<string, object>() { { "class", "form-control select-other" }, { "maxlength", "8" }, { "style", "width:80px;" }, { "type", "text" }, { "oninput", "value = value.replace(/[^0-9]+/i,'');" } };
    @*2025-99-99 iwai-tamura upd-end ------*@



    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered">
                <thead>
                    <tr class="content-label-h1">
                        <td colspan="8">
                            本人情報
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered">
                <colgroup>
                    <col style="width:10%;" />
                    <col style="width:20%;" />
                    <col style="width:20%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                </colgroup>

                <thead></thead>
                <tbody>
                    <tr>
                        <td colspan="8" class="form-inline">@setCheck(false, "MyNumberCheck", Model.Head.MyNumberCheck)　給与支払者に提出済みの個人番号と相違ありません。<span class="required">※必須</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">社員番号</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.EmployeeNo, EmployeeNo)<span class="required">※必須</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">所属番号</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.DepartmentNo, DepartmentNo)<span class="required"></span><span class="required">※必須</span><div id="Head_DepartmentNo_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">氏名</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.Name1, TextName)　名 @Html.TextBoxFor(m => m.Head.Name2, TextName)<span class="required">※必須</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">ﾌﾘｶﾞﾅ</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.Kana1, TextKana)　名 @Html.TextBoxFor(m => m.Head.Kana2, TextKana)<span class="required">※必須</span><div id="Head_Kana_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">住所又は居所</td>
                        <td colspan="6" class="form-inline">
                            @Html.TextBoxFor(m => m.Head.Address, TextWord9)<span class="required">※必須</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    
    <br />
    <!-- 給与所得者の基礎控除申告書 -->
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered">
                <thead>
                    <tr class="content-label-h1">
                        <td colspan="8">
                            給与所得者の基礎控除申告書
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="linkHaiguu1" style="display: block;height: 12rem;margin-top: -12rem;content: ' ';visibility:hidden;"></div>

    
    <!-- 給与所得者の基礎控除申告書 -->
    @*定義*@
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered">
                <colgroup>
                    <col style="width:10%;" />
                    <col style="width:20%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:15%;" />
                    <col style="width:15%;" />
                </colgroup>

                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="2" colspan="1" class="content-label-b1">給与所得</td>
                        <td rowspan="1" colspan="1" class="content-label-b1">収入金額</td>
                        <td colspan="6" class="form-inline">
                            @Html.TextBoxFor(m => m.Head.BasicDeduction_Earnings, BasicDeduction_TextMoney2) 円<div id="Head_BasicDeduction_Earnings_mes" class="check-comment"></div>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="content-label-b1">所得金額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.BasicDeduction_Income, BasicDeduction_TextMoney1) 円<div id="Head_BasicDeduction_Income_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">給与所得以外の所得の合計額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.BasicDeduction_OtherIncome, BasicDeduction_TextMoney2) 円<div id="Head_BasicDeduction_OtherIncome_mes" class="check-comment"></div></td>
                    </tr>
                    <tr class="content-label-h2">
                        <td colspan="8">
                            <button type="button" name="BasicDeductionCalc" value="計算" class="pull-left  btn-calc" id="btn-basicDeduction-calc"> ≫　計算　≪</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">合計所得金額の見積額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.BasicDeduction_TotalEarnings, CalcMoney) 円</td>
                    </tr>


                    @*2025-99-99 iwai-tamura upd-str ------*@
                    <tr>
                        <td rowspan="11" colspan="2" class="content-label-b2">判定 @Html.HiddenFor(m => m.Head.BasicDeduction_EarningsType)@Html.HiddenFor(m => m.Head.BasicDeduction_TaxReductionTarget)</td>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_1"> 　　　　　　　　 132万円以下</td>
                        <td rowspan="5" colspan="1" class="form-inline content-label-b3" style="text-align: center;">(A)</td>
                        <td rowspan="1" colspan="1" class="form-inline content-label-b3" style="text-align: center;">95万円</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_2"> 　132万円超　　　336万円以下</td>
                        <td rowspan="1" colspan="1" class="form-inline content-label-b3" style="text-align: center;">88万円</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_3"> 　336万円超　　　489万円以下</td>
                        <td rowspan="1" colspan="1" class="form-inline content-label-b3" style="text-align: center;">68万円</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_4">　   489万円超　　　655万円以下</td>
                        <td rowspan="1" colspan="1" class="form-inline content-label-b3" style="text-align: center;">63万円</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_5">　   655万円超　　　900万円以下</td>
                        <td rowspan="4" colspan="1" class="form-inline content-label-b3" style="text-align: center;">58万円</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_6">　 900万円超　　　950万円以下</td>
                        <td rowspan="1" colspan="1" class="content-label-b3" style="text-align: center;">(B)</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_7">　 950万円超　　1,000万円以下</td>
                        <td rowspan="1" colspan="1" class="content-label-b3" style="text-align: center;">(C)</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_8"> 1,000万円超　　2,350万円以下</td>
                        <td rowspan="4" colspan="1" class="content-label-b3"></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_9"> 2,350万円超　　2,400万円以下</td>
                        <td rowspan="1" colspan="1" class="content-label-b3" style="text-align: center;">48万円</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_10"> 2,400万円超　　2,450万円以下</td>
                        <td rowspan="1" colspan="1" class="content-label-b3" style="text-align: center;">32万円</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_11"> 2,450万円超　　2,500万円以下</td>
                        <td rowspan="1" colspan="1" class="content-label-b3" style="text-align: center;">16万円</td>
                    </tr>
                    <!--<tr>-->
                        @*2024-11-19 iwai-tamura upd-str ------*@
                        <!--<td rowspan="7" colspan="2" class="content-label-b2">判定 @Html.HiddenFor(m => m.Head.BasicDeduction_EarningsType)@Html.HiddenFor(m => m.Head.BasicDeduction_TaxReductionTarget)</td>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_1"> 　900万円以下<span class="pull-right">(A)</span></td>
                        <td rowspan="4" colspan="1" class="form-inline content-label-b3">　48万円</td>
                        <td rowspan="4" colspan="1" class="form-inline content-label-b3" style="text-align: center; vertical-align: middle;">定額減税対象<div><input type="checkbox" disabled="disabled" id="BasicDeduction_TaxReductionTargetView"></div></td>-->
                        @*<td rowspan="6" colspan="2" class="content-label-b2">判定 @Html.HiddenFor(m => m.Head.BasicDeduction_EarningsType)</td>*@
                        @*<td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_1"> 900万円以下　(A)</td>*@
                        @*<td rowspan="4" colspan="2" class="form-inline content-label-b3">　48万円</td>*@
                        @*2024-11-19 iwai-tamura upd-end ------*@

                    <!--</tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_2"> 　900万円超　　　950万円以下<span class="pull-right">(B)</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_3"> 　950万円超　　1,000万円以下<span class="pull-right">(C)</span></td>
                    </tr>-->
                    @*2024-11-19 iwai-tamura upd-str ------*@
                    <!--<tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_4"> 1,000万円超　　1,805万円以下<span class="pull-right">(D)</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_5"> 1,805万円超　　2,400万円以下</td>
                        <td rowspan="1" colspan="2" class="content-label-b3">　48万円</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_6"> 2,400万円超　　2,450万円以下</td>
                        <td rowspan="1" colspan="2" class="content-label-b3">　32万円</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_7"> 2,450万円超　　2,500万円以下</td>
                        <td rowspan="1" colspan="2" class="content-label-b3">　16万円</td>
                    </tr>-->
                    @*<tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_4"> 1,000万円超　2,400万円以下</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_5"> 2,400万円超　　2,450万円以下</td>
                        <td rowspan="1" colspan="2" class="content-label-b3">　32万円</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="BasicDeduction_CalcType_6"> 2,450万円超　　2,500万円以下</td>
                        <td rowspan="1" colspan="2" class="content-label-b3">　16万円</td>
                    </tr>*@
                    @*2024-11-19 iwai-tamura upd-end ------*@
                    @*2025-99-99 iwai-tamura upd-end ------*@

                    <tr>
                        <td colspan="2" class="content-label-b2">区分Ⅰ</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.BasicDeduction_CalcType, CalcWord)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">基礎控除の額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.BasicDeduction_DeductionAmount, CalcMoney) 円</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <br />
    <!-- 給与所得者の配偶者控除等申告書 -->
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered">
                <thead>
                    <tr class="content-label-h1">
                        @*2023-11-20 iwai-tamura upd-str ------*@
                        <td colspan="7" style="border-right: none !important;">
                            給与所得者の配偶者控除等申告書
                        </td>
                        <td colspan="1" style="border-left: none !important;">
                            <button type="button" name="SpouseDeductionClear" value="クリア" class="pull-right btn-clear" id="btn-spouseDeduction-clear">クリア</button>
                        </td>
                        @*<td colspan="8">
                            給与所得者の配偶者控除等申告書
                        </td>*@
                        @*2023-11-20 iwai-tamura upd-end ------*@
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="linkHaiguu2" style="display: block;height: 12rem;margin-top: -12rem;content: ' ';visibility:hidden;"></div>


    <!-- 給与所得者の配偶者控除等申告書 -->
    @*定義*@
    <div class="row">
        <div class="col-xs-8">
            @*2023-11-20 iwai-tamura upd-str ------*@
            <table class="table table-bordered spouseDeductionTable">
            @*<table class="table table-bordered">*@
            @*2023-11-20 iwai-tamura upd-end ------*@
                <colgroup>
                    <col style="width:10%;" />
                    <col style="width:20%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:20%;" />
                </colgroup>

                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="content-label-b1">配偶者の氏名</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.SpouseDeduction_Name1, TextName)　名 @Html.TextBoxFor(m => m.Head.SpouseDeduction_Name2, TextName)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">配偶者のﾌﾘｶﾞﾅ</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.SpouseDeduction_Kana1, TextKana)　名 @Html.TextBoxFor(m => m.Head.SpouseDeduction_Kana2, TextKana)<div id="Head_SpouseDeduction_Kana_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">配偶者の生年月日</td>
                        <td colspan="6" class="form-inline">
                            @setYearDdl2(false, "SpouseDeduction_Birthday", "0", calcSheetYear, "Year", Model.Head.SpouseDeduction_BirthdayYear, yearItems, "SpouseDeduction_isRead") 年
                            @setYearDdl2(false, "SpouseDeduction_Birthday", "0", calcSheetYear, "Month", Model.Head.SpouseDeduction_BirthdayMonth, monthItems, "SpouseDeduction_isRead") 月
                            @setYearDdl2(false, "SpouseDeduction_Birthday", "0", calcSheetYear, "Day", Model.Head.SpouseDeduction_BirthdayDay, dayItems, "SpouseDeduction_isRead") 日
                            <div id="Head_SpouseDeduction_Birthday_mes" class="check-comment"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">非居住者区分</td>
                        <td colspan="6" class="form-inline">@setCheck2(false, "SpouseDeduction_ResidentCheck", Model.Head.SpouseDeduction_ResidentCheck, "DependentsOver16_1_isRead")　非居住者</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">住所又は居所</td>
                        <td colspan="6" class="form-inline">
                            <p>*非居住者区分にチェックありで入力可能</p>
                            @Html.TextBoxFor(m => m.Head.SpouseDeduction_Address, TextWordMax)
                        </td>
                    </tr>


                    <tr>
                        <td rowspan="2" colspan="1" class="content-label-b1">配偶者の給与所得</td>
                        <td rowspan="1" colspan="1" class="content-label-b1">収入金額</td>
                        @*2023-11-20 iwai-tamura upd-str ------*@
                        <td colspan="4" class="form-inline" style="border-right: none !important;">
                            @Html.TextBoxFor(m => m.Head.SpouseDeduction_Earnings, SpouseDeduction_TextMoney2) 円<div id="Head_SpouseDeduction_TotalEarnings_mes" class="check-comment"></div>
                        </td>
                        <td colspan="2" style="border-left: none !important;">
                            <button type="button" name="SpouseDeductionGetHyou" value="GET" class="pull-right btn-get" id="btn-spouseDeduction-get">扶養控除申告書から取得</button>
                        </td>
                        @*<td colspan="6" class="form-inline">
                            @Html.TextBoxFor(m => m.Head.SpouseDeduction_Earnings, TextMoney1) 円<div id="Head_SpouseDeduction_TotalEarnings_mes" class="check-comment"></div>
                        </td>*@
                        @*2023-11-20 iwai-tamura upd-end ------*@
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="content-label-b1">所得金額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpouseDeduction_Income, SpouseDeduction_TextMoney1) 円<div id="Head_SpouseDeduction_Income_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">給与所得以外の所得の合計額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpouseDeduction_OtherIncome, SpouseDeduction_TextMoney2) 円<div id="Head_SpouseDeduction_OtherIncome_mes" class="check-comment"></div></td>
                    </tr>
                    <tr class="content-label-h2">
                        <td colspan="8">
                            <button type="button" name="SpouseDeductionCalc" value="計算" class="pull-left  btn-calc" id="btn-spouseDeduction-calc"> ≫　計算　≪</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">合計所得金額の見積額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpouseDeduction_TotalEarnings, CalcMoney) 円</td>
                    </tr>





                    @*2025-99-99 iwai-tamura upd-str ------*@
                    <tr>
                        <td rowspan="4" colspan="2" class="content-label-b2">判定 </td>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="SpouseDeduction_EarningsType_1"> 58万円以下かつ年齢70歳以上<br />　　<span id="showaYearLabel">(昭○○.1.1以前生)</span><span class="pull-right">(①)</span><br />　《老人控除対象配偶者に該当》　</td>
                        <td rowspan="2" colspan="2" class="form-inline content-label-b3">　配偶者控除</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="SpouseDeduction_EarningsType_2"> 58万円以下かつ年齢70歳未満<span class="pull-right">(②)</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="SpouseDeduction_EarningsType_3"> 58万円超 95万円以下<span class="pull-right">(③)</span></td>
                        <td rowspan="2" colspan="2" class="form-inline content-label-b3">　配偶者特別控除</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="SpouseDeduction_EarningsType_4"> 95万円超 133万円以下<span class="pull-right">(④)</span></td>
                    </tr>

                    <!--<tr>
                        <td rowspan="4" colspan="2" class="content-label-b2">判定 </td>-->
                        @*2024-11-20 iwai-tamura upd-str ------*@
                        <!--<td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="SpouseDeduction_EarningsType_1"> 48万円以下かつ年齢70歳以上<br />　　<span id="showaYearLabel">(昭○○.1.1以前生)</span><span class="pull-right">(①)</span><br />　《老人控除対象配偶者に該当》　</td>-->
                        @*<td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="SpouseDeduction_EarningsType_1"> 48万円以下かつ年齢70歳以上<br />　　(昭28.1.1以前生)<span class="pull-right">(①)</span><br />　《老人控除対象配偶者に該当》　</td>*@
                        @*2024-11-20 iwai-tamura upd-end ------*@
                        @*2024-11-19 iwai-tamura upd-str ------*@
                        <!--<td rowspan="2" colspan="1" class="form-inline content-label-b3">　配偶者<br />　控除</td>
                        <td rowspan="2" colspan="1" class="form-inline content-label-b3" style="text-align: center; vertical-align: middle;">定額減税対象 @Html.HiddenFor(m => m.Head.SpouseDeduction_TaxReductionTarget)<div><input type="checkbox" disabled="disabled" id="SpouseDeduction_TaxReductionTargetView"></div></td>-->
                        @*<td rowspan="2" colspan="2" class="form-inline content-label-b3">　配偶者控除</td>*@
                        @*2024-11-19 iwai-tamura upd-end ------*@
                    <!--</tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="SpouseDeduction_EarningsType_2"> 48万円以下かつ年齢70歳未満<span class="pull-right">(②)</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="SpouseDeduction_EarningsType_3"> 48万円超 95万円以下<span class="pull-right">(③)</span></td>
                        <td rowspan="2" colspan="2" class="form-inline content-label-b3">　配偶者<br />　特別控除</td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="4" class="content-label-b3"><input type="checkbox" disabled="disabled" id="SpouseDeduction_EarningsType_4"> 95万円超 133万円以下<span class="pull-right">(④)</span></td>
                    </tr>-->
                    @*2025-99-99 iwai-tamura upd-end ------*@

                    <tr>
                        <td colspan="2" class="content-label-b2">区分Ⅱ</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpouseDeduction_EarningsType, CalcWord) @Html.HiddenFor(m => m.Head.SpouseDeduction_CalcType)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">配偶者控除の額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpouseDeduction_DeductionAmount, CalcMoney) 円</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">配偶者特別控除の額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpouseDeduction_SpecialDeductionAmount, CalcMoney) 円</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>





    @*2025-99-99 iwai-tamura upd-str ------*@
    <br />
    <!-- 給与所得者の特定親族特別控除申告書 -->
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered">
                <thead>
                    <tr class="content-label-h1">
                        <td colspan="7" style="border-right: none !important;">
                            給与所得者の特定親族特別控除申告書
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="linkSpecificRelatives" style="display: block;height: 12rem;margin-top: -12rem;content: ' ';visibility:hidden;"></div>


    <!-- 1 給与所得者の特定親族特別控除申告書 -->
    @*定義*@
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered specificRelativeSpecialDeduction01">
                <colgroup>
                    <col style="width:15%;" />
                    <col style="width:15%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:20%;" />
                </colgroup>

                <thead>

                    <tr class="content-label-h2">
                        <td colspan="7" style="border-right: none !important;">
                            １ 給与所得者の特定親族特別控除申告書
                        </td>
                        <td colspan="1" style="border-left: none !important;">
                            <button type="button" name="SpecificRelativeSpecialDeduction01Clear" value="クリア" class="pull-right btn-clear" id="btn-specificRelativeSpecialDeduction01-clear">クリア</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="content-label-b1">特定親族の氏名</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction01_Name1, TextName)　名 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction01_Name2, TextName)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">特定親族のﾌﾘｶﾞﾅ</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction01_Kana1, TextKana)　名 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction01_Kana2, TextKana)<div id="Head_SpecificRelativeSpecialDeduction01_Kana_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">続柄</td>
                        <td colspan="6" class="form-inline">@setDdl2(false, "SpecificRelativeSpecialDeduction01_RelationshipType", Model.Head.SpecificRelativeSpecialDeduction01_RelationshipType, familySpecificRelativesItems, "SpecificRelativeSpecialDeduction01_RelationshipType_isRead")</td>
                    </tr>

                    <tr>
                        <td colspan="2" class="content-label-b1">特定親族の生年月日</td>
                        <td colspan="6" class="form-inline">
                            @setYearDdl2(false, "SpecificRelativeSpecialDeduction01_Birthday", "0", calcSheetYear, "Year", Model.Head.SpecificRelativeSpecialDeduction01_BirthdayYear, yearItems, "SpecificRelativeSpecialDeduction01_isRead") 年
                            @setYearDdl2(false, "SpecificRelativeSpecialDeduction01_Birthday", "0", calcSheetYear, "Month", Model.Head.SpecificRelativeSpecialDeduction01_BirthdayMonth, monthItems, "SpecificRelativeSpecialDeduction01_isRead") 月
                            @setYearDdl2(false, "SpecificRelativeSpecialDeduction01_Birthday", "0", calcSheetYear, "Day", Model.Head.SpecificRelativeSpecialDeduction01_BirthdayDay, dayItems, "SpecificRelativeSpecialDeduction01_isRead") 日
                            <div id="Head_SpecificRelativeSpecialDeduction01_Birthday_mes" class="check-comment"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">非居住者区分</td>
                        <td colspan="6" class="form-inline">@setCheck2(false, "SpecificRelativeSpecialDeduction01_ResidentCheck", Model.Head.SpecificRelativeSpecialDeduction01_ResidentCheck, "DependentsOver16_1_isRead")　非居住者</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">住所又は居所</td>
                        <td colspan="6" class="form-inline">
                            <p>*非居住者区分にチェックありで入力可能</p>
                            @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction01_Address, TextWordMax)
                        </td>
                    </tr>


                    <tr>
                        <td rowspan="2" colspan="1" class="content-label-b1">特定親族の<br>給与所得</td>
                        <td rowspan="1" colspan="1" class="content-label-b1">収入金額</td>
                        <td colspan="4" class="form-inline" style="border-right: none !important;">
                            @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction01_Earnings, SpecificRelativeSpecialDeduction01_TextMoney2) 円<div id="Head_SpecificRelativeSpecialDeduction01_TotalEarnings_mes" class="check-comment"></div>
                        </td>
                        <td colspan="2" style="border-left: none !important;">
                            <button type="button" name="SpecificRelativeSpecialDeduction01GetHyou" value="GET" class="pull-right btn-get" id="btn-specificRelativeSpecialDeduction01-get">扶養控除申告書から取得</button>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="content-label-b1">所得金額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction01_Income, SpecificRelativeSpecialDeduction01_TextMoney1) 円<div id="Head_SpecificRelativeSpecialDeduction01_Income_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">給与所得以外の所得の合計額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction01_OtherIncome, SpecificRelativeSpecialDeduction01_TextMoney2) 円<div id="Head_SpecificRelativeSpecialDeduction01_OtherIncome_mes" class="check-comment"></div></td>
                    </tr>
                    <tr class="content-label-h2">
                        <td colspan="8">
                            <button type="button" name="SpecificRelativeSpecialDeduction01Calc" value="計算" class="pull-left  btn-calc" id="btn-specificRelativeSpecialDeduction01-calc"> ≫　計算　≪</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">合計所得金額の見積額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction01_TotalEarnings, CalcMoney) 円</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">特定親族特別控除の額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction01_SpecialDeductionAmount, CalcMoney) 円</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- 2 給与所得者の特定親族特別控除申告書 -->
    @*定義*@
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered specificRelativeSpecialDeduction02">
                <colgroup>
                    <col style="width:15%;" />
                    <col style="width:15%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:20%;" />
                </colgroup>

                <thead>

                    <tr class="content-label-h2">
                        <td colspan="7" style="border-right: none !important;">
                            ２ 給与所得者の特定親族特別控除申告書
                        </td>
                        <td colspan="1" style="border-left: none !important;">
                            <button type="button" name="SpecificRelativeSpecialDeduction02Clear" value="クリア" class="pull-right btn-clear" id="btn-specificRelativeSpecialDeduction02-clear">クリア</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="content-label-b1">特定親族の氏名</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction02_Name1, TextName)　名 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction02_Name2, TextName)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">特定親族のﾌﾘｶﾞﾅ</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction02_Kana1, TextKana)　名 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction02_Kana2, TextKana)<div id="Head_SpecificRelativeSpecialDeduction02_Kana_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">続柄</td>
                        <td colspan="6" class="form-inline">@setDdl2(false, "SpecificRelativeSpecialDeduction02_RelationshipType", Model.Head.SpecificRelativeSpecialDeduction02_RelationshipType, familySpecificRelativesItems, "SpecificRelativeSpecialDeduction02_RelationshipType_isRead")</td>
                    </tr>

                    <tr>
                        <td colspan="2" class="content-label-b1">特定親族の生年月日</td>
                        <td colspan="6" class="form-inline">
                            @setYearDdl2(false, "SpecificRelativeSpecialDeduction02_Birthday", "0", calcSheetYear, "Year", Model.Head.SpecificRelativeSpecialDeduction02_BirthdayYear, yearItems, "SpecificRelativeSpecialDeduction02_isRead") 年
                            @setYearDdl2(false, "SpecificRelativeSpecialDeduction02_Birthday", "0", calcSheetYear, "Month", Model.Head.SpecificRelativeSpecialDeduction02_BirthdayMonth, monthItems, "SpecificRelativeSpecialDeduction02_isRead") 月
                            @setYearDdl2(false, "SpecificRelativeSpecialDeduction02_Birthday", "0", calcSheetYear, "Day", Model.Head.SpecificRelativeSpecialDeduction02_BirthdayDay, dayItems, "SpecificRelativeSpecialDeduction02_isRead") 日
                            <div id="Head_SpecificRelativeSpecialDeduction02_Birthday_mes" class="check-comment"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">非居住者区分</td>
                        <td colspan="6" class="form-inline">@setCheck2(false, "SpecificRelativeSpecialDeduction02_ResidentCheck", Model.Head.SpecificRelativeSpecialDeduction02_ResidentCheck, "DependentsOver16_1_isRead")　非居住者</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">住所又は居所</td>
                        <td colspan="6" class="form-inline">
                            <p>*非居住者区分にチェックありで入力可能</p>
                            @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction02_Address, TextWordMax)
                        </td>
                    </tr>


                    <tr>
                        <td rowspan="2" colspan="1" class="content-label-b1">特定親族の<br>給与所得</td>
                        <td rowspan="1" colspan="1" class="content-label-b1">収入金額</td>
                        <td colspan="4" class="form-inline" style="border-right: none !important;">
                            @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction02_Earnings, SpecificRelativeSpecialDeduction02_TextMoney2) 円<div id="Head_SpecificRelativeSpecialDeduction02_TotalEarnings_mes" class="check-comment"></div>
                        </td>
                        <td colspan="2" style="border-left: none !important;">
                            <button type="button" name="SpecificRelativeSpecialDeduction02GetHyou" value="GET" class="pull-right btn-get" id="btn-specificRelativeSpecialDeduction02-get">扶養控除申告書から取得</button>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="content-label-b1">所得金額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction02_Income, SpecificRelativeSpecialDeduction02_TextMoney1) 円<div id="Head_SpecificRelativeSpecialDeduction02_Income_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">給与所得以外の所得の合計額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction02_OtherIncome, SpecificRelativeSpecialDeduction02_TextMoney2) 円<div id="Head_SpecificRelativeSpecialDeduction02_OtherIncome_mes" class="check-comment"></div></td>
                    </tr>
                    <tr class="content-label-h2">
                        <td colspan="8">
                            <button type="button" name="SpecificRelativeSpecialDeduction02Calc" value="計算" class="pull-left  btn-calc" id="btn-specificRelativeSpecialDeduction02-calc"> ≫　計算　≪</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">合計所得金額の見積額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction02_TotalEarnings, CalcMoney) 円</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">特定親族特別控除の額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction02_SpecialDeductionAmount, CalcMoney) 円</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


    <!-- 3 給与所得者の特定親族特別控除申告書 -->
    @*定義*@
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered specificRelativeSpecialDeduction03">
                <colgroup>
                    <col style="width:15%;" />
                    <col style="width:15%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:20%;" />
                </colgroup>

                <thead>

                    <tr class="content-label-h2">
                        <td colspan="7" style="border-right: none !important;">
                            ３ 給与所得者の特定親族特別控除申告書
                        </td>
                        <td colspan="1" style="border-left: none !important;">
                            <button type="button" name="SpecificRelativeSpecialDeduction03Clear" value="クリア" class="pull-right btn-clear" id="btn-specificRelativeSpecialDeduction03-clear">クリア</button>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="2" class="content-label-b1">特定親族の氏名</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction03_Name1, TextName)　名 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction03_Name2, TextName)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">特定親族のﾌﾘｶﾞﾅ</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction03_Kana1, TextKana)　名 @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction03_Kana2, TextKana)<div id="Head_SpecificRelativeSpecialDeduction03_Kana_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">続柄</td>
                        <td colspan="6" class="form-inline">@setDdl2(false, "SpecificRelativeSpecialDeduction03_RelationshipType", Model.Head.SpecificRelativeSpecialDeduction03_RelationshipType, familySpecificRelativesItems, "SpecificRelativeSpecialDeduction03_RelationshipType_isRead")</td>
                    </tr>

                    <tr>
                        <td colspan="2" class="content-label-b1">特定親族の生年月日</td>
                        <td colspan="6" class="form-inline">
                            @setYearDdl2(false, "SpecificRelativeSpecialDeduction03_Birthday", "0", calcSheetYear, "Year", Model.Head.SpecificRelativeSpecialDeduction03_BirthdayYear, yearItems, "SpecificRelativeSpecialDeduction03_isRead") 年
                            @setYearDdl2(false, "SpecificRelativeSpecialDeduction03_Birthday", "0", calcSheetYear, "Month", Model.Head.SpecificRelativeSpecialDeduction03_BirthdayMonth, monthItems, "SpecificRelativeSpecialDeduction03_isRead") 月
                            @setYearDdl2(false, "SpecificRelativeSpecialDeduction03_Birthday", "0", calcSheetYear, "Day", Model.Head.SpecificRelativeSpecialDeduction03_BirthdayDay, dayItems, "SpecificRelativeSpecialDeduction03_isRead") 日
                            <div id="Head_SpecificRelativeSpecialDeduction03_Birthday_mes" class="check-comment"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">非居住者区分</td>
                        <td colspan="6" class="form-inline">@setCheck2(false, "SpecificRelativeSpecialDeduction03_ResidentCheck", Model.Head.SpecificRelativeSpecialDeduction03_ResidentCheck, "DependentsOver16_1_isRead")　非居住者</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">住所又は居所</td>
                        <td colspan="6" class="form-inline">
                            <p>*非居住者区分にチェックありで入力可能</p>
                            @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction03_Address, TextWordMax)
                        </td>
                    </tr>


                    <tr>
                        <td rowspan="2" colspan="1" class="content-label-b1">特定親族の<br>給与所得</td>
                        <td rowspan="1" colspan="1" class="content-label-b1">収入金額</td>
                        <td colspan="4" class="form-inline" style="border-right: none !important;">
                            @Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction03_Earnings, SpecificRelativeSpecialDeduction03_TextMoney2) 円<div id="Head_SpecificRelativeSpecialDeduction03_TotalEarnings_mes" class="check-comment"></div>
                        </td>
                        <td colspan="2" style="border-left: none !important;">
                            <button type="button" name="SpecificRelativeSpecialDeduction03GetHyou" value="GET" class="pull-right btn-get" id="btn-specificRelativeSpecialDeduction03-get">扶養控除申告書から取得</button>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="1" class="content-label-b1">所得金額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction03_Income, SpecificRelativeSpecialDeduction03_TextMoney1) 円<div id="Head_SpecificRelativeSpecialDeduction03_Income_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">給与所得以外の所得の合計額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction03_OtherIncome, SpecificRelativeSpecialDeduction03_TextMoney2) 円<div id="Head_SpecificRelativeSpecialDeduction03_OtherIncome_mes" class="check-comment"></div></td>
                    </tr>
                    <tr class="content-label-h2">
                        <td colspan="8">
                            <button type="button" name="SpecificRelativeSpecialDeduction03Calc" value="計算" class="pull-left  btn-calc" id="btn-specificRelativeSpecialDeduction03-calc"> ≫　計算　≪</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">合計所得金額の見積額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction03_TotalEarnings, CalcMoney) 円</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b2">特定親族特別控除の額</td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.SpecificRelativeSpecialDeduction03_SpecialDeductionAmount, CalcMoney) 円</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    @*2025-99-99 iwai-tamura upd-end ------*@

    <br />
    <!-- 所得金額調整控除申告書 -->
    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered">
                <thead>
                    <tr class="content-label-h1">
                        <td colspan="8">
                            所得金額調整控除申告書
                        </td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="linkHaiguu3" style="display: block;height: 12rem;margin-top: -12rem;content: ' ';visibility:hidden;"></div>


    <!-- 所得金額調整控除申告書 -->
    @*定義*@
    var AdjustmentDeduction_TextName = new Dictionary<string, object>() { { "class", "form-control select-other AdjustmentDeduction_isRead1" }, { "maxlength", "20" }, { "style", "width:100px;" } };
    var AdjustmentDeduction_TextKana = new Dictionary<string, object>() { { "class", "form-control select-other checkKana AdjustmentDeduction_isRead1" }, { "maxlength", "20" }, { "style", "width:100px;" } };
    var AdjustmentDeduction_TextComment = new Dictionary<string, object>() { { "class", "form-control select-other AdjustmentDeduction_isRead1" }, { "maxlength", "20" } };
    var AdjustmentDeduction_TextAddress = new Dictionary<string, object>() { { "class", "form-control select-other AdjustmentDeduction_isRead1 AdjustmentDeductionAddress_isRead" }, { "maxlength", "100" }, { "style", "width:100%;" } };
    var AdjustmentDeduction_TextMoney1 = new Dictionary<string, object>() { { "class", "form-control select-other AdjustmentDeduction_isRead1" }, { "maxlength", "8" }, { "style", "width:100px;" }, { "type", "text" }, { "oninput", "checkMoney('#Head_AdjustmentDeduction_TotalEarnings',99999999)" } };


    <div class="row">
        <div class="col-xs-8">
            <table class="table table-bordered">
                <colgroup>
                    <col style="width:10%;" />
                    <col style="width:20%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:10%;" />
                    <col style="width:20%;" />
                </colgroup>

                <thead>
                </thead>
                <tbody>
                    <tr>
                        <td rowspan="4" colspan="2" class="content-label-b1">要件 @Html.HiddenFor(m => m.Head.AdjustmentDeduction_ConditionType)</td>
                        <td rowspan="1" colspan="6" class="form-inline"><input type="checkbox" class="input-control" id="AdjustmentDeduction_ConditionType_1" onchange="ConditionTypeSelect(this,'1')">　あなた自身が特別障害者<span class="pull-right">(&#9733;欄のみを入力)</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="6" class="form-inline"><input type="checkbox" class="input-control" id="AdjustmentDeduction_ConditionType_2" onchange="ConditionTypeSelect(this,'2')">　同一生計配偶者が特別障害者<span class="pull-right">(&#9734;欄及び&#9733;欄を入力)</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="6" class="form-inline"><input type="checkbox" class="input-control" id="AdjustmentDeduction_ConditionType_3" onchange="ConditionTypeSelect(this,'3')">　扶養親族が特別障害者<span class="pull-right">(&#9734;欄及び&#9733;欄を入力)</span></td>
                    </tr>
                    <tr>
                        <td rowspan="1" colspan="6" class="form-inline"><input type="checkbox" class="input-control" id="AdjustmentDeduction_ConditionType_4" onchange="ConditionTypeSelect(this,'4')">　扶養親族が年齢23歳未満<span class="pull-right">(&#9734;欄のみを入力)</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">同一生計配偶者又は<span class="pull-right">(&#9734;)</span><br />扶養親族の氏名</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.AdjustmentDeduction_Name1, AdjustmentDeduction_TextName)　名 @Html.TextBoxFor(m => m.Head.AdjustmentDeduction_Name2, AdjustmentDeduction_TextName)</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">同一生計配偶者又は<span class="pull-right">(&#9734;)</span><br />扶養親族のﾌﾘｶﾞﾅ</td>
                        <td colspan="6" class="form-inline">氏 @Html.TextBoxFor(m => m.Head.AdjustmentDeduction_Kana1, AdjustmentDeduction_TextKana)　名 @Html.TextBoxFor(m => m.Head.AdjustmentDeduction_Kana2, AdjustmentDeduction_TextKana)<div id="Head_AdjustmentDeduction_Kana_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">生年月日<span class="pull-right">(&#9734;)</span></td>
                        <td colspan="6" class="form-inline">
                            @setYearDdl2(false, "AdjustmentDeduction_Birthday", "0", calcSheetYear, "Year", Model.Head.AdjustmentDeduction_BirthdayYear, yearItems, "AdjustmentDeduction_isRead1") 年
                            @setYearDdl2(false, "AdjustmentDeduction_Birthday", "0", calcSheetYear, "Month", Model.Head.AdjustmentDeduction_BirthdayMonth, monthItems, "AdjustmentDeduction_isRead1") 月
                            @setYearDdl2(false, "AdjustmentDeduction_Birthday", "0", calcSheetYear, "Day", Model.Head.AdjustmentDeduction_BirthdayDay, dayItems, "AdjustmentDeduction_isRead1") 日
                            <div id="Head_AdjustmentDeduction_Birthday_mes" class="check-comment"></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">住所又は居所<span class="pull-right">(&#9734;)</span></td>
                        <td colspan="6" class="form-inline">
                            @setCheck2(false, "AdjustmentDeduction_ResidentCheck", Model.Head.AdjustmentDeduction_ResidentCheck, "AdjustmentDeduction_isRead1") 本人の住所又は居所と同じ<br />
                            @Html.TextBoxFor(m => m.Head.AdjustmentDeduction_Address, AdjustmentDeduction_TextAddress)
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">あなたとの続柄<span class="pull-right">(&#9734;)</span></td>
                        <td colspan="6" class="form-inline">@setDdl2(false, "AdjustmentDeduction_RelationshipType", Model.Head.AdjustmentDeduction_RelationshipType, familyItems, "AdjustmentDeduction_isRead1")</td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">合計所得金額（見積額）<span class="pull-right">(&#9734;)</span></td>
                        <td colspan="6" class="form-inline">@Html.TextBoxFor(m => m.Head.AdjustmentDeduction_TotalEarnings, AdjustmentDeduction_TextMoney1) 円<div id="Head_AdjustmentDeduction_TotalEarnings_mes" class="check-comment"></div></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="content-label-b1">特別障害者に該当する事実<span class="pull-right">(&#9733;)</span></td>
                        <td colspan="6" class="form-inline">@setCheck2(false, "AdjustmentDeduction_ReportType", Model.Head.AdjustmentDeduction_ReportType, "AdjustmentDeduction_isRead2")　扶養控除等申告書のとおり</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>





    @*隠しボタンエリア*@
    <div style="height:0px;">
        <button type="submit" name="Save" id="savebutton" value="保存" class="btn invisible" onclick="removeDisabled()">保存</button>
        <button type="submit" name="Keep" id="keepbutton" value="途中保存" class="btn invisible" onclick="removeDisabled()">途中保存</button>
        <button type="submit" name="SignCancel" id="signcancel" value =@Model.Head.DepartmentNo class="btn invisible">保存取消</button>
    </div>

    @Scripts.Render("~/Scripts/js/haiguu")

}
